block variables

doctype html
html(lang='ru-RU')  
    head  
        meta(charset="utf-8")
        title #{title}
        meta(name="description" content="Изготовление мебели в г. Казань: шкафы, шкафы-купе,встраиваемые шкафы, креативные решения шкафов-купе, прихожие, кухни, корпусная мебель, столы, комоды, тумбы, детские, гостинные.")
        meta(name="keywords" content="Казань, в Казани, мебель, детская мебель, мебель от производителя, мебель для гостиных, купить мебель, гостиные мебель, офисная мебель, мебель для гостиной, производство мебели, недорогая мебель, корпусная мебель, кухонная мебель, модульная мебель, мебель для детской комнаты, дешевая мебель, модульная мебель для гостиной, продажа мебели, мебель шкафы, мебель казань, корпусная мебель на заказ, мебель для прихожей, изготовление мебели на заказ, детская мебель на заказ, кухонная мебель на заказ, заказ мебели по индивидуальным размерам, мебель на заказ недорого, дешевая мебель на заказ, детская мебель под заказ, корпусная мебель под заказ, индивидуальная мебель на заказ, мебель для гостиной на заказ, офисная мебель на заказ, корпусная мебель по индивидуальному заказу, изготовление мебели под заказ, кухни, купить кухню, куплю кухню, кухни цены, кухни на заказ, угловые кухни, мебель для кухни, стильные кухни, кухни для маленькой кухни, кухни эконом, кухни на заказ казань, недорогие кухни, кухни эконом класса, кухни дешево, красная кухня")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(content="width=1000" name="viewport")   

        //favicon block start
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        //favicon block end

        link(rel='stylesheet' href='/assets/css/foundation.css')
        link(rel='stylesheet' href='/assets/css/app.css')
                 
        

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->

    body
        block content

